/* Projects list */

.projects-container{
  width: 50rem;
  padding: 1.5rem;

  margin: 0 auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3%;

  background-color: var(--boxColor);
  border: 5px solid var(--borderColor);
  border-radius: 10px;
}

.projects-container div{
  height: 20rem;

  width:calc(50% - 1.5%);

  padding: 1%;

  margin-bottom: 2%;

  background-color: var(--accent);
  border: 5px solid var(--borderColor);
  border-radius: 10px;
}

/* TODO: maybe add automatic font scaling 
for now, just manually re-size text*/